#post-text{
  background: none;
  color: #000000;
  border: none;
  padding: 0.36rem;
  border-bottom: 0.1rem solid #5c988b;
  transform: translate(30px, 10px);
}
#divpost {
  border-radius: 1rem;
  border-color:rgba(0, 255, 157, 0.2) ;
}
#createPost{
  margin-left: 4.1rem;
  color: rgb(63, 67, 67);
  font-family: 'Pixelify Sans', cursive;
}
#btn-post{
  margin: 2rem;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  border-color:rgba(0, 255, 157, 0.2) ;
  transform: translate(63px, 10px);
}
#btn-logout{
  padding: 0.6rem 0.8rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  border-color:rgba(0, 255, 157, 0.2) ;
  box-shadow: 1rem 1rem 1rem rgba(0, 255, 213, 0.2);
  transform: translate(270px, -220px);
}
section {
  margin: 1rem 1rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  background-color: rgba(0, 179, 255, 0.062);
}
#buttondelete {
  margin: 2rem .2rem;
  padding: 0.6rem 1.3rem;
  font-size: 0.8rem;
  border-radius: 6rem;
  border-color:rgba(255, 123, 0, 0.2) ;
  background-color: rgba(255, 0, 0, 0.174);
  
}
#buttonlike {
  margin: .3rem .7rem;
  padding: 0.6rem 1.3rem;
  font-size: 0.8rem;
  border-radius: 6rem;
  background-color:rgba(4, 0, 255, 0.078) ;
}
article {
    padding: 0.6rem 1.3rem;
    background-color: rgba(193, 224, 227, 0.016);
      border: #6ce7be 0.3rem solid;
      margin: 1rem;
}

.posts-section {
  max-height: 400px; /* Establece la altura máxima que desees */
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical cuando sea necesario */
}
@media screen and (min-width: 376px) and (max-width: 419px) { 
  #btn-logout{
    transform: translate(270px, -240px);
  }
}

@media screen and (min-width: 420px) and (max-width: 670px) { 
  #btn-logout{
    transform: translate(120px, -240px);
  }
}

@media screen and (min-width: 474px) and (max-width: 670px) { 
  #btn-logout{
    transform: translate(280px, -310px);
  }
}

@media screen and (min-width: 671px) and (max-width: 998px) { 
  #btn-logout{
    transform: translate(280px, -230px);
  }
}