#post-text{
  background: none;
  color: #000000;
  border: none;
  border-bottom: 0.01rem solid #000000;
}
#divpost {
  border-radius: 1rem;
  border-color:rgba(0, 255, 157, 0.2) ;
}
#createPost{
  margin-left:1rem;
  color: rgb(14, 15, 15);
  font-family: 'Pixelify Sans', cursive;
}
#btn-post{
  margin: 2rem;
  padding: 0.6rem 1.3rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  border-color:rgba(0, 255, 157, 0.2) ;
}
#btn-logout{
  margin: 0.3rem;
  padding: 0.6rem 1.3rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  border-color:rgba(239, 121, 10, 0.2);
  background-color: rgba(255, 0, 0, 0.201);
}
section {
  margin: 1rem 1rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  background-color: rgba(0, 179, 255, 0.062);
}
#buttondelete {
  margin: 2rem .2rem;
  padding: 0.6rem 1.3rem;
  font-size: 0.8rem;
  border-radius: 6rem;
  border-color:rgba(255, 123, 0, 0.2) ;
  background-color: rgba(255, 0, 0, 0.174);
  
}
#buttonlike {
  margin: .3rem .7rem;
  padding: 0.6rem 1.3rem;
  font-size: 0.8rem;
  border-radius: 6rem;
  background-color:rgba(4, 0, 255, 0.078) ;
}
article {
    padding: 0.6rem 1.3rem;
    background-color: rgba(193, 224, 227, 0.016);
   
  }