/* Establece el estilo para el contenedor principal */
body {
  margin: 0;
  overflow: hidden; /* Para ocultar el desplazamiento vertical */
  position: relative; /* Añade position:relative para que los elementos se apilen */
  background-color: rgb(0, 0, 0);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que el contenedor ocupe todo el alto de la ventana */
}

/* Establece el estilo para el canvas (fondo) */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho de la ventana */
  height: 100%; /* Ocupa todo el alto de la ventana */
  z-index: -1; /* Coloca el canvas detrás de otros elementos */
  /* Otros estilos para el canvas */
}

/* Establece el estilo para el contenedor de contenido (centrado) */
#root {
  background-color: rgba(73, 73, 73, 0.8); /* Fondo semi-transparente para el contenido */
  padding: 20px; /* Agrega espacio alrededor del contenido */
  /* Otros estilos para el contenedor de contenido */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

.logo{
  width: 6rem;
  position: relative;
  border-radius: 50px;
  opacity: 0.5;
}

.header {
  padding: 20px; /* Agrega espacio alrededor del encabezado */
  text-align: center; /* Centra el texto horizontalmente */
  /* Otros estilos para el encabezado si es necesario */
}

#button-container {
  display: flex;
  align-items: center;
}

.btnAll {
  margin: 5px;
  padding: 10px 20px;
  font-size: 18px;
}

.btnGoogle {
  background-color: #4285F4;
  color: #fff;
  border: none;
  border-radius: 5px;
}

 /* @media screen and (max-width: 768px) {
  .home-body {
    background: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */

}
/* #canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Ocupa todo el ancho disponible */
  /* height: 100%; /* Ocupa todo el alto disponible */
  z-index: -1; /* Un valor negativo coloca el canvas detrás de otros elementos */
} */ */

/* div {
  display: flex;
  flex-direction: column;

}  */
/* div.header {
  margin: 3rem;
  /*background-color: rgba(141, 140, 140, 0.10);*/
  border-radius: 1rem;
  text-align: center;
  color: rgb(241, 231, 218);
  width: 18rem;
}  */
/* .logo{
  width: 6rem;
  position: relative;
  /* left: 5rem; */
  top: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 50px;
  opacity: 0.5;
}    */
/* .title {
  position: relative;
  top: 1rem;
  right: 0.8rem;
  margin-bottom: 1rem;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  */
/* .slogan {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 1rem;
  top: 3rem;
  margin: auto;

}  */
/* .btnAll {
  position: relative;
  top: 5rem;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
} */
}

