#info {
    text-align: right;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    border-radius: 50%;
  
  }
  
  #miInformacion {
    display: none; /* Oculta el párrafo por defecto */
  }