.login-body {   
    width: 100%;
    height: 100vh; 
    background-color: #303030;
    display: flex;
    justify-content: center;
}
.bienvenida {
    color: #FFFFFF;
    text-align: center;
    transform: translate(10px, 40px);

}
.btnHome {
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    border: none;
    color: #060000;
    font-size: 0.6rem;
    transform: translate(-20px, -40px);
}
.inputLogin {
    width: 100%;
    height: 2rem;
    max-width: 400px;
    background: none;
    position: relative;
    overflow: hidden;
}
.inputEm {
    width: 100%;
    height: 50%;
    background: none;
    color: #ffffff;
    border: none;
    outline: 0;
    border-bottom: 1px solid #43af09;
}
.inputPw {
    width: 100%;
    height: 50%;
    background: none;
    color: #ffffff;
    border: none;
    outline: 0;
    border-bottom: 1px solid #43af09;
}

@media screen and (max-width: 768px) {

}